<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT BOOK</title>
    <link rel="shortcut icon" href="favi.ico">
    <style>
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <%- include("../header.ejs") %>
    <%- include("../nav.ejs") %>
    <div align="center">
        <br><br>
        <font size="5" color="#3a3a3a"><b>전체 도서</b></font>
        <hr width="300px" color="#196ab3">
        <br><br>

        <table border="1">
            <tr>
                <td width="80px" align="center">번호</td>
                <td width="250px"><%= board["boardNo"] %></td>
            </tr>
            <tr>
                <td width="80px" align="center">조회수</td>
                <td><%= board["boardReadCount"] %></td>
            </tr>
            <tr>
                <td width="80px" align="center">작성자</td>
                <td><%= board["boardMemberId"] %></td>
            </tr>
            <tr>
                <td width="80px" align="center">제목</td>
                <td><%= board["boardSubject"] %></td>
            </tr>
            <tr>
                <td width="80px" align="center">내용</td>
                <td><textarea rows="10" cols="35" readonly><%= board["boardContent"] %></textarea></td>
            </tr>
            <% if(check) { %>
            <tr>
                <td colspan="2" align="center">
                    <% var boardNo = board["boardNo"]; %>
                    <input type="button" value="되돌아가기" onclick="location.href='boardList'";>
                    <input type="button" value="수정하기" onclick="location.href='boardModify?boardNo=<%= boardNo %>'">
                    <input type="button" value="삭제하기" onclick="location.href='boardDelete?boardNo=<%= boardNo %>'">
                </td>
            </tr>
            <% } else { %>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="되돌아가기" onclick="location.href='boardList'";>
                </td>
            </tr>
            <% } %>
        </table>

        <br><br><br><br>

    </div>
    <%- include("../footer.ejs") %>
</div>
</body>
</html>